{% extends "_layout.html" %}
{% block content %}

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h2 class="signup card-title text-center">Sign In</h2>
                        <form class="form-signin" action="{{url_for('users.login')}}" method='post'>
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <div class="form-label-group">
                                <label class="mt-2" for="username">Username</label>
                                <input type="text" id="username" class="form-control" name="username" placeholder="Username"
                                    required autofocus>
                            </div>

                            <div class="form-label-group">
                                <label class="my-2" for="inputPassword">Password</label>
                                <input type="password" id="inputPassword" class="form-control mb-3" name='password' placeholder="Password"
                                    required>
                            </div>

                            <!-- <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Remember password</label>
                            </div> -->
                            <button class="btn btn-sm btn-default btn-block text-uppercase" type="submit">Sign
                                in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}