{% extends "_layout.html" %}
{% block content %}
<!-- ul# -->

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-10 col-lg-12 mx-auto">
                <div class="card card-signin my-5">
                    <div class="row card-body">
                        <div class=" d-flex flex-column align-items-center col-md-5 col-lg-4">
                            {% if user_id.image %}
                            <img class="profileImg"
                                src="https://linglee-nextagram.s3-ap-southeast-1.amazonaws.com/profileImg/{{user_id.image}}" />
                            {% else %}
                            <img
                                src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" />
                            {% endif %}
                            <a href="{{url_for('users.upload' , user_id=user_id.id)}}"><button
                                    class="btn-default mt-4">Change Profile Image</button></a>
                        </div>
                        <div class=" d-flex flex-wrap justify-content-between col-md-7 col-lg-8">
                            <h1 class='ml-2'>{{user_id.username}}</h1>
                            <div class="d-flex mt-4">
                                <div class="flex-column text-center mr-4">
                                    <h6>{{user_id.user_images.count()}}</h6>
                                    <p>Post</p>
                                </div>

                                <div class="flex-column text-center mr-4">
                                    <h6>{{user_id.followers | length}}</h6>
                                    <p>Followers</p>
                                </div>

                                <div class="flex-column text-center mr-4">
                                    <h6>{{user_id.following | length}}</h6>
                                    <p>Following</p>
                                </div>
                            </div>
                            <a href="{{url_for('users.edit' , user_id=user_id.id)}}"><img width="30px"
                                    src="/static/settings.svg" /></a>
                            <h6>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit cum, doloremque
                                voluptatem neque recusandae corrupti, dicta optio illum sint, deserunt accusamus.
                                Sapiente, nemo veritatis.</h6>
                            <a href="{{url_for('users.userimg' , user_id=user_id.id)}}"><button
                                    class="btn-default mt-4">Upload Image</button></a>

                        </div>
                    </div>
                    <div class="mb-5 mt-3 bg-white d-flex flex-wrap align-items-center justify-content-center">
                        {% for i in user_id.user_images %}
                        <!-- <div class="col-md-4 col-sm-6"> -->
                        <div class="d-flex justify-content-center flex-column align-items-center m-3">
                            <img class="imgbox mb-2"
                                src="https://linglee-nextagram.s3-ap-southeast-1.amazonaws.com/userImg/{{i.userImg}}" />
                            <a href="{{url_for('users.donate',img_id=i.id)}}" class="btn btn-default">Donate</a>
                        </div>
                        <!-- </div> -->
                        {% endfor%}
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>

</body>
{% endblock %}



<!-- <div class="card card-signin my-5"></div> -->
<!-- {% for i in user_id.user_images %}
<img class="imgbox m-3" width="300px" height="300px"
    src="https://linglee-nextagram.s3-ap-southeast-1.amazonaws.com/userImg/{{i.userImg}}" />
<a href="{{url_for('users.donate',img_id=i.id)}}"><button <!--
        class="btn-default">Donate</button></a>
{% endfor%} -->


<!-- <div class="text-center">
    <h1 class='text-center mx-auto'>Hello World {{user_id.username}}</h1>
    <a href="{{url_for('users.edit' , user_id=user_id.id)}}"><button class="btn-default">Setting</button></a>
</div>
<div>
    <img class="profileImg" src="https://linglee-nextagram.s3-ap-southeast-1.amazonaws.com/{{user_id.image}}" />
    <a href="{{url_for('users.upload' , user_id=user_id.id)}}"><button class="btn-default">Upload Profile
            Image</button></a>
</div> -->