{% extends "_layout.html" %}
{% block content %}
<!-- ul# -->

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-10 col-lg-12 mx-auto">
                <div class="card card-signin my-5">
                    <div class="row card-body">
                        <div class=" d-flex flex-column align-items-center col-md-5 col-lg-4">
                            {% if user.image %}
                            <img class="profileImg"
                                src="https://linglee-nextagram.s3-ap-southeast-1.amazonaws.com/profileImg/{{user.image}}" />
                            {% else %}
                            <img class="profileImg"
                                src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" />
                            {% endif %}
                        </div>
                        <div class=" d-flex flex-wrap justify-content-between col-md-7 col-lg-8">
                            <div class='d-flex flex-wrap align-items-center'>
                                <h1 class='ml-2'>{{user.username}}</h1>
                                {% if current_user.check_following(user) == True %}
                                <form action="{{url_for('users.unfollow', user_id = user.id , username=user.username)}}" method="GET">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                    <button type="submit" id="{{user.id}}" name="{{user.username}}" class="follow-btn btn btn-default-click ml-3">Unfollow</button>
                                </form>
                                {% elif current_user.check_following(user) == "Pending" %}
                                    <form action="{{url_for('users.unfollow', user_id = user.id , username=user.username)}}" method="GET">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                        <button type="submit" id="{{user.id}}" name="{{user.username}}" class="follow-btn btn btn-default-click ml-3">Pending</button>
                                    </form>
                                
                                {% else %}
                                    <form action="{{url_for('users.follow', user_id = user.id , username=user.username)}} method="GET">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                            <button type="submit" id="{{user.id}}" name="{{user.username}}" class="follow-btn btn btn-default ml-3">Follow</button>
                                    </form>
                                {% endif %}
                            </div>
                            <div class="d-flex mt-4">
                                    <div class="flex-column text-center mr-4">
                                        <h6>{{user.user_images.count()}}</h6>
                                        <p>Post</p>
                                    </div>
    
                                    <div class="flex-column text-center mr-4">
                                        <h6 id="followers">{{user.followers | length}}</h6>
                                        <p>Followers</p>
                                    </div>
                                    
                                    <div class="flex-column text-center mr-4">
                                        <h6>{{user.following | length}}</h6>
                                        <p>Following</p>
                                    </div>
                                </div>
                            <h6>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit cum, doloremque
                                voluptatem neque recusandae corrupti, dicta optio illum sint, deserunt accusamus.
                                Sapiente, nemo veritatis.</h6>
                            </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="d-flex col-sm-12 col-md-10 col-lg-12 justify-content-center">
                            <!-- <div
                                class="card card-signin my-5 col-md-10 col-lg-12 pb-sm-2 d-flex justify-content-between align-items-center border-0"> -->
                                <div class="mb-5 bg-white d-flex flex-wrap align-items-center justify-content-center"></div>
                                <!-- <div class="text-center"> -->
                                    {% if user.is_private == True %}
                                    <div class="d-flex justify-content-center flex-column align-items-center m-3">
                                    <h5> This Account is Private </h5>
                                    <img width="100px" height="100px"
                                        src="/static/heart.gif" />
                                    </div>
                                    {% else %}
                                        {% if images | length > 0 %}
                                            {% for i in user.user_images %}
                                            <div class="d-flex justify-content-center flex-column align-items-center m-3">
                                                <img class="imgbox mb-2"
                                                    src="https://linglee-nextagram.s3-ap-southeast-1.amazonaws.com/userImg/{{i.userImg}}" />
                                                <a href="{{url_for('users.donate',img_id=i.id)}}" class="btn btn-default">Donate</a>
                                            </div>
                                            {% endfor %}
                                        {% else %}
                                        <div class="d-flex justify-content-center flex-column align-items-center m-3"></div>
                                        <h5> No image available</h5>
                                        <img width="200px" height="200px"
                                            src="https://media.giphy.com/media/xT0Gqg7vX59yL6tsNq/giphy.gif" />
                                        </div>
                                        {% endif %}
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}