.success {
    background-color: #c9deff;
    // background-color: $primary-accent;
    color:blue;
  }
  
.error {
    background-color: #ffc9c9;
    color: red;
  }

body{
    background: #faedf8;
    // background: $primary-accent;
    font-family:'Montserrat', sans-serif;
    color: #a79cf1;
}

.navbar-default{
    background: #ebe8ff;
}
.btn-default{
    background: #a79cf1;
    color: white;
}

h1{
    font-family: 'Shrikhand', sans-serif;
}