.success {
    background-color: #c9deff;
    // background-color: $primary-accent;
    color:blue;
  }
  
.error {
    background-color: #ffc9c9;
    color: red;
  }

html{
    box-sizing: border-box;
}

*,*:before, *:after{
    box-sizing: inherit;
}

body{
    background: #faedf8;
    // background: $primary-accent;
    font-family:'Montserrat', sans-serif;
    color: #a79cf1;
}

.navbar-default{
    background: #ebe8ff;
}
.btn-default{
    background: #a79cf1;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.btn-default-click{
    background: #9da9cd;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.btn-special{
    background: #63ccda;
    color: white;
    border-radius: 5px;
    padding: 5px;
}
.btn-special-click{
    background: #73a7ae;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

h1{
    margin-top: 40px;
    font-family: 'Shrikhand', sans-serif;
    letter-spacing: 2px;
}

.signup{
    font-family: 'Shrikhand', sans-serif;
}

.homepage::before{
    content:'';
    width: 60px;
    height: 60px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url("https://i.pinimg.com/originals/a5/7b/f9/a57bf940269ffbf167f8b0c5fd50315c.gif");
    background-size: contain;
}

.profileImg{
    border-radius: 50%;
    border: solid 2px #a79cf1;
    width: 200px;
    height: 200px;
    display: inline-block;
    align-items: center;
    object-fit: cover; 
}

@media(max-width: 600px){
    .profileImg{
        border-radius: 50%;
        border: solid 2px #a79cf1;
        width: 150px;
        height: 150px;
        display: inline-block;
        align-items: center;
        object-fit: cover; 
    }
}

.preview{
    width: 200px;
    height: 200px;
    border: solid 2px #a79cf1;
    display: inline-block;
    align-items: center;
    object-fit: cover;
}

.imgbox{
    height: 300px;
    width: 300px;
    border: #a79cf1 solid 2px;
    object-fit: cover;
}

a:hover{
    color: violet;
}

.resize{
    width: 200px;
}

.profile-link:hover{
    color: #9385f0;
    background: transparent;
}