.success {
    background-color: #c9deff;
    color:blue;
  }
  
.error {
    background-color: #ffc9c9;
    color: red;
  }

body{
    background: #faedf8;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #a79cf1;
}

.navbar-default{
    background: #ebe8ff;
}
.btn-default{
    background: #a79cf1;
    color: white;
}
