<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- icon on top -->
  <link rel="shortcut icon"
    href="https://mmbiz.qpic.cn/mmemoticon/Q3auHgzwzM5ru4Ecb4nv86Ggvh8NsGnFcribGSm6ueF29T8bERvFzPn1IygSibGeeHaCCE7nP4MbM/0">

  <link href="https://fonts.googleapis.com/css?family=Markazi+Text&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Shrikhand&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet">

  {% assets "home_css" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  {% assets "home_js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  {% block header %}{% endblock %}
  <title>{% block title %}{% endblock %}NEXTAGRAM</title>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light navbar-default">
    <img width="30px" class="mr-2"
      src="https://www.freepngimg.com/thumb/logo/62372-computer-neon-instagram-icons-hd-image-free-png.png" />
    <a class="font-weight-bold navbar-brand m-2" href="/">NEXTAGRAM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>

        {% if session["user_id"] %}
        <li class="nav-item">
          <a class="nav-link" href="/users/logout">Log Out</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/users/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/new">Sign Up</a>
        </li>
        {% endif %}
      </ul>

      <div class="d-flex justify-content-center align-items-center">
        {% if current_user.follower_requests | length > 0 %}
        <div class="follow-amount">{{current_user.follower_requests | length}}</div>
        {% else %}
        <div>No follower request</div>
        {% endif %}
      </div>
      <div class="dropdown show">
          <img width="50px" src="/static/heart-64.png" class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/>
        
          <div class="dropdown-menu dropdown-menu-left " aria-labelledby="dropdownMenuLink">
            {% if current_user.follower_requests | length > 0 %}
            {% for follower in current_user.follower_requests %}
            <div class="ml-4">Follower Requests</div>
            <hr>
            <div class='d-flex mr-3'>
              <a class="dropdown-item btn-outline-info" href="{{url_for('users.view', username=follower.username)}}">{{follower.username}}</a>
              <form action="{{url_for('users.approval', following_id=follower.id)}}">
                <button class="accept-btn btn btn-default ml-2" id={{follower.id}} type="submit" name="accept" > Accept </button>
              </form>
              
              <form action="{{url_for('users.decline', following_id=follower.id)}}">
                <button class="decline-btn btn btn-special ml-2" id={{follower.id}} type="submit" name="decline"> Decline </button>
              </form>
            </div>
            <hr>
            {% endfor %}
            {% endif %}
          </div>
        </div>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item d-md-flex justify-content-center align-items-center">
          <a class="nav-link" href="{{url_for('users.profile',user_id=current_user.id)}}">Profile</a>
        </li>
        <form class="form-inline my-2 my-lg-0" action="{{url_for('users.show')}}" method='POST'>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <input class="form-control mr-sm-2" type="search" placeholder="Search" name="username" value=""
            aria-label="Search">
          <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
      </ul>
    </div>
  </nav>
  <!-- flash -->
  <div class="text-center">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class=flashes>
      {% for category, message in messages %}
      <!-- <li>{{ message }}</li> -->
      <div class="alert alert-dismissible {{ category }} text-left" role="alert">
        {{ message | safe }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
  </div>
  <!-- flash -->
  {% block content %}
  {% endblock %}
</body>

</html>