<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
  <link href="https://fonts.googleapis.com/css?family=Markazi+Text&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Shrikhand&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet">

  {% assets "home_css" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  {% assets "home_js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  {% block header %}{% endblock %}
  <title>{% block title %}{% endblock %}NEXTAGRAM</title>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light navbar-default">
    <img width="30px" class="mr-2"
      src="https://www.freepngimg.com/thumb/logo/62372-computer-neon-instagram-icons-hd-image-free-png.png" />
    <a class="font-weight-bold navbar-brand" href="#">NEXTAGRAM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>

        {% if session["user_id"] %}
          <li class="nav-item">
            <a class="nav-link" href="/users/logout">Log Out</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/users/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/new">Sign Up</a>
          </li>
        {% endif %}
      </ul>
          
      <ul class="navbar-nav ml-auto">
        {% if current_user.is_authenticated %}
          <li class="nav-item d-md-flex justify-content-center align-items-center">
            <a class="nav-link" href="{{url_for('users.profile',user_id=current_user.id)}}">Profile</a>
          </li>
        {% endif %}
            
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
      </ul>
    </div>
  </nav>
  <!-- flash -->
  <div class="text-center">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class=flashes>
      {% for category, message in messages %}
      <!-- <li>{{ message }}</li> -->
      <div class="alert alert-dismissible {{ category }} text-left" role="alert">
        {{ message | safe }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
  </div>
  <!-- flash -->
  {% block content %}
  {% endblock %}
</body>

</html>